arviz @ file:///home/conda/feedstock_root/build_artifacts/arviz_1592923948739/work
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
cftime @ file:///D:/bld/cftime_1595215844964/work
chardet==3.0.4
click==7.1.2
cmdstanpy==0.4.0
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1589287890831/work
cryptography==2.9.2
cycler==0.10.0
Cython @ file:///D:/bld/cython_1594253747180/work
dash==1.4.1
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
ephem==3.7.7.1
fbprophet==0.6
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1595448845196/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
kiwisolver==1.2.0
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
LunarCalendar==0.0.9
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
matplotlib @ file:///D:/bld/matplotlib-base_1597428569923/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
netCDF4 @ file:///D:/bld/netcdf4_1588329301603/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.0.3
Pillow @ file:///D:/bld/pillow_1594213048891/work
plotly==4.7.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1589222711601/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
retrying==1.3.3
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
setuptools-git==1.2
six==1.15.0
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
urllib3 @ file:///tmp/build/80754af9/urllib3_1597086586889/work
waitress==1.4.4
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1594532077462/work
